#box{
	width:300px;
	height:416px;
	border-top:2px solid #206f96;
}
#head{
	width:298px;
	height:29px;
	border-left:1px solid #cfcfcf;
	border-right:1px solid #cfcfcf;
	background: url(../img/tu.jpg) repeat-x;
}
#center{
	width:298px;
	height:386px;
	border:1px solid #cfcfcf;
}
#mell{
	height:57px;
	background:url(../img/mell.jpg) no-repeat 16px 25px;
}
#game{
	height:126px;
	background:#f7f7f7 url(../img/game.jpg) no-repeat 8px 51px;
}
#sns{
	height:76px;
	background:url(../img/sns.jpg) no-repeat 15px 25px;
}
#other{
	height:127px;
	background:#f7f7f7 url(../img/other.jpg) no-repeat 12px 49px;
},